body, html {
    background-color: black;
    color: black;
    overflow: hidden;
}

#game {
  display: hidden;
}

#start {
    display: block;
    font-size: 2em;
    text-align: center;
    align-items: center;
    margin-top: 40vh;
}
p, button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-shadow: 2px 2px 2px darkslategray;
}

p {
    color: seashell;
    font-size: 0.75em;
}

button {
    background-color: black;
    color: seashell;
    border: 2px solid seashell;
    border-radius: 5px;
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}

/*changes button color when hovering over*/
button:hover{
  transition: .4s ease-in-out;
  background-color: seashell;
  color: black;
  border-radius: 8px;
}

#options {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.option {
  width: 31.3vw;
  padding: 0.5vw;
  margin: 0.5vw;
  display: hidden;
}

#para {
  padding: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 58vh;
  width: 95vw;
  height: 23vh;
  size: 30px;
  font-size: 1.5em;
  background-color: black;
  color: seashell;
  border-radius: 5px;
  border: 2px solid seashell;
  z-index: 5;
  text-align: left;
}

#speaker {
  font-size: 1.5em;
  padding: 5px;  
  background-color: black;
  color: seashell;
  border: 2px solid seashell;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 55.3vh;
  height: 5vh;
  width: 10vw;
  left: 2.1vw;
  z-index: 4;
}
  
#lamp {
  animation: blink 4s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
  
@keyframes blink {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.85;
    }
    100% {
      opacity: 0.5;
    }
  }

  :root {
    --current-opacity: 0.5;
  }

  @keyframes disappear {
    0% {
      opacity: var(--currentOpacity);
    }
    50% {
      opacity: calc(var(--currentOpacity) / 2);
    }
    100% {
      opacity: 0.0;
    }
  }

  #next {
    align-items: center;
    size: 100px;
  }


  /*char img location settings (subject to change)*/
  #chars {
    width: 100vw;
    position: absolute;
    top: 0;
  }

#char1 {
  position: absolute;
  top: 18vh;
  height: 45vh;
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  left: -50vw;
  transition: all .3s ease-in-out;
}

#char2 {
  position: absolute;
  top: 18vh;
  height: 45vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotate(356deg);
  -webkit-transform: rotate(356deg);
  right: -50vw;
  transition: all .3s ease-out;
}

audio {
  display:none;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

body {
  transition: all .5s ease-in-out;
}