body, html {
    background-color: black;
    color: black;
}

#start {
    display: block;
    font-size: 2em;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;
    margin-bottom: 50%;
}
