body, html {
    background-color: black;
    color: black;
    overflow: hidden;
}

#start {
    display: block;
    font-size: 2em;
    text-align: center;
    align-items: center;
    margin-top: 40vh;
}
p, button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-shadow: 2px 2px 2px darkslategray;
}

p {
    color: seashell;
    font-size: 0.75em;
}

button {
    background-color: black;
    color: seashell;
    border: 2px solid seashell;
    border-radius: 5px;
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}

/*changes button color when hovering over*/
button:hover{
  transition: 1 ease-in-out;
  background-color: seashell;
  color: black;
  border-radius: 8px;
}

#options {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.option {
  width: 30vw;
  padding: 0.5vw;
  margin: 0.5vw;
}

#para {
    width: 95vw;
    height: 30vh;
    size: 30px;
}

  
  img {
    animation: blink 4s ease-in-out infinite;
  }
  
@keyframes blink {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.85;
    }
    100% {
      opacity: 0.5;
    }
  }

  :root {
    --current-opacity: 0.5;
  }

  @keyframes disappear {
    0% {
      opacity: var(--currentOpacity);
    }
    50% {
      opacity: calc(var(--currentOpacity) / 2);
    }
    100% {
      opacity: 0.0;
    }
  }

  #next {
    align-items: center;
    size: 100px;
  }